.edit_logo{
    margin-left: 150px;
}
.edit_judul_form{
    float: right;
}
.bar_atas{
    float: right;
    margin-right: 230px;
}
.jarak{
    margin-right: 45px;
    font-size: 9.5pt;
}
.card_edit{
    padding-left: 15px;
    padding-right: 115px;
    margin-top: -10px;
    width: 1000px;
}
.edit_btn{
    width: 320px;
    margin-left: 55px;
    margin-top: 60px;
    margin-bottom: -110px;
}

.edit_ntf{
    width: 320px;
    margin-left: 55px;
    margin-top: 70px;
    margin-bottom: -110px;
}

.provinsiku{
    margin-left: 140px;
    width: 200px;
}

.kotaku{
    margin-left: 10px;
    width: 180px;
}

.tombolku{
    margin-left: 10px;
    width: 100px;
}

.tgl_mulai{
    margin-left: 10px;
    width: 149px;
    height: 38px;
}

.card_edit2{
    margin-left: -110px;
}

.nama{ 
                overflow: hidden; 
                white-space: nowrap; 
                text-overflow: ellipsis; 
                }

                .edit_ntf{
                    width: 320px;
                    margin-left: 85px;
                    margin-top: 40px;
                    margin-bottom: -110px;
                    color: red;
                }

